.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.library-container {
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 16px;
  height: 300px;
}

.book-card h2 {
  font-size: 1.2rem;
}
